body{
    text-align:left;
    background-color:#FCFBE3;
    background-image: url("images/lennyeyebrow.gif");
    color: #FF00FF;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
table{
    
    text-align: left;
    border-collapse: collapse;
}
tr{
    border: 1px solid #FF00FF;
    text-align: center;
    background-color: #ffb3ec;
}
th{
    text-align: left;
    color: #FF00FF;
    background-color: #ffb3ec;
}
p{
    background-color:white;
}
ul{
    background-color:white;
}
ol{
    background-color:white;
}