body{
    text-align:left;
    background-color:#FCFBE3;
    color: #FF00FF;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
}
tr{
    border: 1px solid #FF00FF;
    text-align: center;
    background-color: #ffb3ec;
}
th{
    text-align: center;
    color: #FF00FF;
    background-color: #ffb3ec;
}
